/* line 1, ../sass/_index.scss */
body {
  font-family: 'Noto Sans', sans-serif !important;
}
/* line 3, ../sass/_index.scss */
body .row {
  margin: 0px;
}
/* line 6, ../sass/_index.scss */
body .row .title h1 {
  white-space: nowrap;
}
/* line 9, ../sass/_index.scss */
body .row .title h2 {
  text-align: center;
}
/* line 14, ../sass/_index.scss */
body .row .wrapper p {
  margin: 0 auto 1rem auto;
}
/* line 18, ../sass/_index.scss */
body .row .wrapper a section {
  width: auto;
}
/* line 20, ../sass/_index.scss */
body .row .wrapper a section img {
  width: auto;
  height: auto;
}
/* line 33, ../sass/_index.scss */
body .row .wrapper a section {
  width: auto;
}
/* line 35, ../sass/_index.scss */
body .row .wrapper a section img {
  width: auto;
  height: auto;
}
/* line 49, ../sass/_index.scss */
body .row .wrapper a section img {
  width: auto;
  height: auto;
}
/* line 60, ../sass/_index.scss */
body .row footer legend {
  text-align: center;
}
