@import "vars";

*{
    position: relative;
}
html {
    .row{
        margin: 0px;
    }
    height: 100%;
    body {
        position: relative;
        background-color: $c_white;
        .cover {
            margin: 0px;
            height: 100%;
            background-color: $c_white;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-content: center;
            text-align: center;
            background-image: url("Img/Banni%C3%A8re%20Web%20Developpement%20WM.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            a {
                width: 50px;
                height: 50px;
                padding: 2rem;
                background-color: $c_orange;
                -webkit-mask-image: url("Img/Icons/arrow-with-circle-down.svg");
                mask-image: url("Img/Icons/arrow-with-circle-down.svg");
                mask-repeat: no-repeat;
                margin-bottom: 50px;
            }
        }
        .presentation {
            background-color: $c_white;
            margin: 0px;
            flex-direction: column;
            h1{
                margin: 50px auto 0px auto;
                font-size: 50px;
                color:$c_blue;
                text-align: center;
            }
            p {
                margin: 0 auto 50px auto;
                text-align: center;
                color:$c_blue;
            }
            .tripoint {
                padding: 50px 0px 0px;
                margin: 0px;
                background-color: $c_orange;
                justify-content: center;
                justify-content: space-between;
                div {
                    .disponibilite, .toutprojet, .formation {
                        width: 50px;
                        height: 50px;
                        margin: 0 auto;
                        background-color: $c_white;
                        text-align: center;
                    }
                    .disponibilite {
                        -webkit-mask-image: url("Img/Icons/calendar.svg");
                        mask-image: url("Img/Icons/calendar.svg");
                        mask-repeat: no-repeat;
                    }
                    .toutprojet {
                        -webkit-mask-image: url("Img/Icons/code.svg");
                        mask-image: url("Img/Icons/code.svg");
                        mask-repeat: no-repeat;
                    }
                    .formation {
                        -webkit-mask-image: url("Img/Icons/open-book.svg");
                        mask-image: url("Img/Icons/open-book.svg");
                        mask-repeat: no-repeat;
                    }
                    p, h4{
                        color: $c_white;
                        text-align: center;
                    }
                    p{
                        margin: 0 auto 50px auto;
                    }
                }
            }
            .projet {
                margin: 0px;
                padding: 0px;
                p {
                    margin: 0 auto 1rem auto;
                }
                a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 650px;
                    min-height: 180px;
                    margin: 0 auto;
                    padding: 0px;
                    img {
                        width: auto;
                        height: auto;
                        padding: 0 15px;
                    }
                    section {
                        background-color: $c_orange;
                        position: absolute;
                        bottom: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        opacity: 0;
                        color: $c_white;
                        -webkit-transition: all .2s;
                        -moz-transition: all .2s;
                        transition: all .2s;
                        div{
                            position: absolute;
                            top: 50%;
                            width: 100%;
                            transform: translateY(-50%);
                            text-align: center;
                            h3 {
                                color: $c_white;
                            }
                            p {
                                color: $c_white;
                            }
                        }
                        &:hover{
                            opacity: 0.9;
                            height: 100%;
                        }
                    }
                }
            }
            .social-network-container {
                min-height: 270px;
                background-color: $c_blue;
                flex-direction: column;
                padding: 50px 0 0px;
                h2 {
                    text-align: center;
                    color: $c_white;
                    padding-bottom: 25px;
                }
                .social-network {
                    justify-content: space-between;
                    flex-direction: row;
                    .linkedin, .stackoverflow, .twitter {
                        width: 50px;
                        height: 50px;
                        margin: 0 auto;
                        background-color: $c_white;
                        text-align: center;
                        text-decoration: none;
                    }
                    .linkedin {
                        -webkit-mask-image: url("Img/Icons/linkedin.svg");
                        mask-image: url("Img/Icons/linkedin.svg");
                        mask-repeat: no-repeat;
                    }
                    .stackoverflow {
                        -webkit-mask-image: url("Img/Icons/stackoverflow.svg");
                        mask-image: url("Img/Icons/stackoverflow.svg");
                        mask-repeat: no-repeat;
                    }
                    .twitter {
                        -webkit-mask-image: url("Img/Icons/twitter.svg");
                        mask-image: url("Img/Icons/twitter.svg");
                        mask-repeat: no-repeat;
                    }
                    a, p {
                        color: $c_white;
                        text-align: center;
                    }
                }
            }
            .contact-container {
                margin: 0px;
                flex-direction: column;
                padding: 50px 0px;
                background-color: $c_white;
                h2{
                    text-align: center;
                    font-size: 50px;
                    color: $c_blue;
                }
                p{
                    text-align: center;
                    color: $c_blue;
                    margin-top: 0;
                    margin-bottom: 1rem;
                }
                .contact{
                    background-color: $c_white;
                    justify-content: center;
                    .contact-left{
                        .phone{
                            width: 50px;
                            height: 50px;
                            margin: 0 auto;
                            background-color: $c_blue;
                            -webkit-mask-image: url("Img/Icons/phone.svg");
                            mask-image: url("Img/Icons/phone.svg");
                            mask-repeat: no-repeat;
                        }
                        p{
                            text-align: center;
                            color:$c_blue;
                            margin-top: 0;
                            margin-bottom: 1rem;
                        }
                    }
                    .contact-right{
                        .mail{
                            width: 50px;
                            height: 50px;
                            margin: 0 auto;
                            background-color: $c_blue;
                            text-align: center;
                            color:$c_blue; 
                            -webkit-mask-image: url("Img/Icons/mail.svg");
                            mask-image: url("Img/Icons/mail.svg");
                            mask-repeat: no-repeat;
                        }
                        a{
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            color:$c_blue;
                        }
                    }
                }
            }
        }
    }
}