body{
    .title{
        background-color : 
        h1{
            
        }
        h2{
            text-align: center;
        }
        h3{
            text-align: center;
        }
    }
    .wrapper{
        a{
            div{
                width: auto;
                img{
                    width: auto;
                    height: auto;
                }
                h3{

                }
                p{

                }
            }    
        }
        a{
            div{
                width: auto;
                img{
                    width: auto;
                    height: auto;
                }
                h3{
                    
                }
                p{

                }
            }   
        }
        a{
            div{
                img{
                    width: auto;
                    height: auto;
                }
                h3{

                }
            }   
        }
    }
    footer{
        legend{
            text-align: center;
        }
    }
}